#user-icon-btn.btn  {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.btn:active {
  box-shadow: fade-in($color: #000000, $amount: 0);
}

.dropdown-menu-style {
  margin-top: 1rem;
  background-color: #121518;
  color: #ffffff8c;
}

.dropdown-item-style {
  color: #ffffff8c;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: table;
}

.dropdown-item:hover {
   background-color: #212529;
}