<nav class="navbar navbar-dark bg-dark see">
    <a class="navbar-brand " href="">
        <img src="assets/sloth.png" width="default" height="100" class="d-inline-block align-top" alt="">
    </a>
    <div class="nav-item ">
        <a class="nav-link text-white-50 font-weight-bold" href="">About</a>
    </div>
    <div class="nav-item ">
        <a class="nav-link text-white-50 font-weight-bold" href="">Skills</a>
    </div>
    <div class="nav-item ">
        <a class="nav-link text-white-50 font-weight-bold" href="">Projects</a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-white-50 font-weight-bold" href="">Contact Me</a>
    </div> 
</nav>
