<nav class="navbar navbar-dark bg-dark navbar-style">
    <div class="row row-style">
        <div class="col-md-2">
            <a class="navbar-brand" href="">
                <img src="assets/logo1.png" width="default" height="55" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <div class="col-md-1">
            <a class="nav-item" href="">Credentials</a>
        </div>
        <div class="col-md-1">
            <a class="nav-item" href="">Accounts</a>
        </div>
        <div class="col-md-1">
            <a class="nav-item" href="">Settings</a>
        </div>
        <div class="col-md-1">
            <a class="nav-item" href="">About Me</a>
        </div> 
    </div>
</nav>
