<div class="navbar navbar-dark footer-style">
  <div class="container social-media-style">
    <a class="icon-style" href="https://github.com/PoriaEbrahimi">
      <img src="assets/github.png" class="icon-style ml-2" alt="">
    </a>
    <a class="icon-style" href="mailto:poria.ebrahimi123@gmail.com">
      <img src="assets/gmail.png" class="icon-style mr-2" alt="">
    </a>
    <a class="icon-style" href="https://www.linkedin.com/in/poria-ebrahimi/">
      <img src="assets/linkedin.png" class="icon-style ml-2" alt="">
    </a>
    <a class="icon-style" onclick="randomSocialMedia()">
      <img src="assets/question.png" class="icon-style mr-2" alt="">
    </a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link ml-5" href="">About</a>
    <a class="nav-item nav-link ml-5" href="">Skills</a>
    <a class="nav-item nav-link ml-5" href="">Projects</a>
    <a class="nav-item nav-link ml-5" href="">Contact Me</a>
  </div>
</div>