.footer-style {
  position: fixed;
  background-color: #21272c;
  z-index: 1;
  bottom: 0px;
  left: 0;
  height: 150px;
  width: 100%;
}

@media (max-width: 640px) 
{
  .footer-style {
    position: fixed;
    background-color: #21272c;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
  }
}

.social-media-style {
  background-color: #121518;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 150px;
  padding: 0px;
}

@media (max-width: 640px) 
{
  .social-media-style {
    background-color: #121518;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 150px;
    padding: 0px;
  }
}

.icon-style {
  height: 59px;
  width: auto;
}

@media (max-width: 640px) 
{
  .icon-style {
    height: 59px;
    width: auto;
  }
}