<footer class="bg-dark text-center footer-style">
  <div class="text-center p-3 footer-content-style" style="background-color: #121518">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39"
          href="mailto:poria.ebrahimi123@gmail.com"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca"
          href="https://www.linkedin.com/in/poria-ebrahimi/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333"
          href="https://github.com/PoriaEbrahimi"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    <div>
      © 2020 Copyright:
      <a class="footer-text-style" href="https://Poe.com/">Poe.com</a>
    </div>
  </div>
</footer>
