.footer-style {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff8c;
  z-index: 1;
}

.footer-content-style {
  height: 10rem;
}

.footer-text-style {
  color: #ffffff8c;
}
