.navbar-style {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #121518;
  height: 5rem;
}

.navbar-nav-style {
  margin: auto;
  text-align: center;
  width: 40%;
}

.nav-item-style {
  width: 25%;
}