<nav class="navbar navbar-expand-md navbar-dark navbar-style">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-nav-style">
        <a routerLink="/home" class="nav-item nav-link nav-item-style" href="#">Home</a>
        <a routerLink="/browse" class="nav-item nav-link nav-item-style" href="#">Browse</a>
        <a routerLink="/home" class="nav-item nav-link nav-item-style" href="#">Pricing</a>
        <a routerLink="/browse" class="nav-item nav-link nav-item-style" href="#">Disabled</a>
      </div>
    </div>
    <app-login></app-login>
  </div>
</nav>