.body-style {
  position: relative;
  z-index: 0;
  padding: 5rem;
  min-height: calc(100vh - 15rem);
}

.card-text-style {
  color: #ffffff8c;
}

.featured-card-style { 
  background-color: #121518;
}