.body-style {
  position: relative;
  z-index: 0;
  min-height: calc(100vh - 15rem);
  padding: 9rem;
}

.card-body-style {
  width: 50%;
}

.input-body-style {
  width: 80%;
}

.input-style {
  flex: 1 1 auto;
}

.card-style {
  padding: 3rem;
  background-color: #121518;
}

.card-text-style {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: #ffffff8c;
  justify-content: center;
}

.card-title-text-style {
  margin: 1.5rem 1.5rem 2rem 1.5rem;
  color: #ffffff8c;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.form-style {
    margin: 1.5rem;
}